---
http_interactions:
- request:
    method: post
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/global_unsubscribes.json
    body:
      encoding: UTF-8
      string: '{"auth_token":"TOKEN","global_unsubscribe":{"email":"example5@gmail.com"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - "/accounts/ACCOUNT_ID/global_unsubscribes"
      Etag:
      - W/"fedcde551918da6669345843075f1af3"
    body:
      encoding: UTF-8
      string: '{"id":85080340,"email":"example5@gmail.com","created_at":"2016-08-15T00:16:23.476-04:00","updated_at":"2016-08-15T00:16:23.476-04:00"}'
  recorded_at: Mon, 15 Aug 2016 04:16:23 GMT
recorded_with: VCR 2.9.3
