---
http_interactions:
- request:
    method: post
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/global_unsubscribes.json?auth_token=TOKEN
    body:
      encoding: UTF-8
      string: '{"global_unsubscribe":{"email":"example5@gmail.com"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - "/accounts/ACCOUNT_ID/global_unsubscribes"
      Etag:
      - W/"f25b203ded9f6d2a0515dfACCOUNT_ID334a938"
    body:
      encoding: UTF-8
      string: '{"id":104109152,"account_id":ACCOUNT_ID,"email":"example5@gmail.com","created_at":"2017-02-22T23:47:41.707-05:00","updated_at":"2017-02-22T23:47:41.707-05:00"}'
  recorded_at: Thu, 23 Feb 2017 04:47:41 GMT
recorded_with: VCR 2.9.3
