---
http_interactions:
- request:
    method: post
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/contacts.json?auth_token=TOKEN
    body:
      encoding: UTF-8
      string: '{"email":"example@gmail.com","first_name":"dev"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"7cd68fe7656621cf19398f88a8fbea53"
    body:
      encoding: UTF-8
      string: '{"id":742521850,"email":"example@gmail.com","first_name":"dev","last_name":null,"phone":null,"fax":null,"created_at":"2016-07-19T10:08:55.000-04:00","updated_at":"2017-02-22T23:45:19.592-05:00","channel":null,"chakra0_411":null,"chakra1_157":null,"chakra2_158":null,"chakra3_159":null,"chakra4_160":null,"chakra5_161":null,"chakra6_162":null,"chakra7_163":null,"codex_download_code":null}'
  recorded_at: Thu, 23 Feb 2017 04:45:19 GMT
- request:
    method: put
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/contacts/742521850.json?auth_token=TOKEN
    body:
      encoding: UTF-8
      string: '{"first_name":"test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"060601eeef4ba14900fcd83d15101081"
    body:
      encoding: UTF-8
      string: '{"id":742521850,"email":"example@gmail.com","first_name":"test","last_name":null,"phone":null,"fax":null,"created_at":"2016-07-19T10:08:55.000-04:00","updated_at":"2017-02-22T23:45:20.217-05:00","channel":null,"chakra0_411":null,"chakra1_157":null,"chakra2_158":null,"chakra3_159":null,"chakra4_160":null,"chakra5_161":null,"chakra6_162":null,"chakra7_163":null,"codex_download_code":null}'
  recorded_at: Thu, 23 Feb 2017 04:45:19 GMT
recorded_with: VCR 2.9.3
