---
http_interactions:
- request:
    method: get
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/contacts/email.json?contact%5Bemail%5D=dev@example.com
    body:
      encoding: UTF-8
      string: '{"auth_token":"TOKEN"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8d40504867e34601d431f690e8956fed"
    body:
      encoding: UTF-8
      string: '{"id":742468929,"email":"dev@example.com","first_name":"dev","last_name":null,"phone":null,"fax":null,"created_at":"2016-07-07T06:01:51.000-04:00","updated_at":"2016-07-07T06:01:51.000-04:00","orders":[],"list_subscriptions":[{"list_id":43405,"name":"test-haidar","status":"Subscribed","created_at":"2016-07-07T06:01:51.000-04:00","updated_at":"2016-07-07T06:01:51.000-04:00"}],"workflows":[],"tags":[]}'
  recorded_at: Wed, 13 Jul 2016 09:48:31 GMT
recorded_with: VCR 2.9.3
