---
http_interactions:
- request:
    method: get
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/contacts/email.json?auth_token=TOKEN&contact%5Bemail%5D=example@gmail.com
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0524223afb12de35ab554756004b9d80"
    body:
      encoding: UTF-8
      string: '{"id":742521850,"email":"example@gmail.com","first_name":"dev","last_name":null,"phone":null,"fax":null,"created_at":"2016-07-19T10:08:55.000-04:00","updated_at":"2017-02-22T23:45:17.000-05:00","channel":null,"chakra0_411":null,"chakra1_157":null,"chakra2_158":null,"chakra3_159":null,"chakra4_160":null,"chakra5_161":null,"chakra6_162":null,"chakra7_163":null,"codex_download_code":null,"orders":[],"list_subscriptions":[{"list_id":43405,"name":"test-haidar","status":"Subscribed","created_at":"2016-07-19T10:08:55.000-04:00","updated_at":"2017-02-22T23:24:37.000-05:00"},{"list_id":69208,"name":"[OPS]
        DO NOT MAILING LIST - for testing ","status":"Subscribed","created_at":"2017-01-22T00:56:25.000-05:00","updated_at":"2017-01-22T00:56:25.000-05:00"}],"workflows":[{"id":9359,"name":"spec-test-workflow-do-not-delete","workflow_contact_status":"Unsubscribed","workflow_status":"Enabled","created_at":"2016-07-19T10:08:55.000-04:00","updated_at":"2016-07-20T10:42:43.000-04:00"}],"tags":[]}'
  recorded_at: Thu, 23 Feb 2017 04:45:17 GMT
recorded_with: VCR 2.9.3
