---
http_interactions:
- request:
    method: get
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/contacts/email.json?contact%5Bemail%5D=example@gmail.com
    body:
      encoding: UTF-8
      string: '{"auth_token":"TOKEN"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0d2e3e7810bc00ddc6c6ea7b10990f3b"
    body:
      encoding: UTF-8
      string: '{"id":742521850,"email":"example@gmail.com","first_name":"dev","last_name":null,"phone":null,"fax":null,"created_at":"2016-07-19T10:08:55.000-04:00","updated_at":"2016-07-19T10:08:55.000-04:00","orders":[],"list_subscriptions":[{"list_id":43405,"name":"test-haidar","status":"Subscribed","created_at":"2016-07-19T10:08:55.000-04:00","updated_at":"2016-07-19T10:08:55.000-04:00"}],"workflows":[{"id":9359,"name":"haidar-test-wf","workflow_contact_status":"Active","workflow_status":"Enabled","created_at":"2016-07-19T10:08:55.000-04:00","updated_at":"2016-07-19T10:08:55.000-04:00"}],"tags":[]}'
  recorded_at: Tue, 19 Jul 2016 14:08:55 GMT
recorded_with: VCR 2.9.3
