---
http_interactions:
- request:
    method: get
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/global_unsubscribes/email.json?contact%5Bemail%5D=example@gmail.com
    body:
      encoding: UTF-8
      string: '{"auth_token":"TOKEN"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9aaca4c8ff89f73c521f33efd2cc38f7"
    body:
      encoding: UTF-8
      string: '{"id":83045963,"email":"example@gmail.com","created_at":"2016-07-19T10:15:09.000-04:00","updated_at":"2016-07-19T10:15:09.000-04:00"}'
  recorded_at: Mon, 15 Aug 2016 04:16:22 GMT
recorded_with: VCR 2.9.3
