---
http_interactions:
- request:
    method: get
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/global_unsubscribes/email.json?auth_token=TOKEN&contact%5Bemail%5D=example2@gmail.com
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f29ac3d8e48790cf790b25a1201803c7"
    body:
      encoding: UTF-8
      string: '{"id":85080104,"account_id":ACCOUNT_ID,"email":"example2@gmail.com","created_at":"2016-08-15T00:02:33.000-04:00","updated_at":"2016-08-15T00:02:33.000-04:00"}'
  recorded_at: Thu, 23 Feb 2017 04:47:40 GMT
recorded_with: VCR 2.9.3
