---
http_interactions:
- request:
    method: post
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/contacts.json?list_ids=43405
    body:
      encoding: UTF-8
      string: '{"auth_token":"TOKEN","email":"example@gmail.com","first_name":"dev"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"771098e2761b6433944f7dadc84ca133"
    body:
      encoding: UTF-8
      string: '{"id":742521850,"email":"example@gmail.com","first_name":"dev","last_name":null,"phone":null,"fax":null,"created_at":"2016-07-19T10:08:55.332-04:00","updated_at":"2016-07-19T10:08:55.332-04:00"}'
  recorded_at: Tue, 19 Jul 2016 14:08:55 GMT
recorded_with: VCR 2.9.3
