---
http_interactions:
- request:
    method: post
    uri: http://api.maropost.com/accounts/ACCOUNT_ID/contacts.json?list_ids=43405
    body:
      encoding: UTF-8
      string: '{"auth_token":"TOKEN","email":"dev@example.com","first_name":"dev"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"1457c3aa24912f5f377116705b3f46d1"
    body:
      encoding: UTF-8
      string: '{"id":742468929,"email":"dev@example.com","first_name":"dev","last_name":null,"phone":null,"fax":null,"created_at":"2016-07-07T06:01:51.000-04:00","updated_at":"2016-07-07T06:01:51.000-04:00"}'
  recorded_at: Wed, 13 Jul 2016 09:48:31 GMT
recorded_with: VCR 2.9.3
